*.py[co]

# Packages
*.egg
*.egg-info
*.xls
dist
build
eggs
parts
bin
bitewiseenv
develop-eggs
tr06_d00_shp
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Paper Tmp
*.log
*.aux
*.pdf

# Large Geodata
*.dbf
*.shp
*.shx

# Scraped HTML
data/html